doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='padding: 50px;')
    block content
  footer
    p Copyright &copy; 2020 Instrumentasi B 2018
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
  script(type='text/javascript', src='/javascripts/page.js')
  
