extends layout

block content
  h1(class='header')= title
  div(class='image')
    img(src='/images/i-emApp2.png' class='img-head')
    p(class='header') Form #{title}
    p.success.header #{message} #{matkul}
    form(action='/matkul/form', method='post' class='form')
      table
        tbody
          tr
            td 
              label 
                b Mata Kuliah
            td :
            td 
              input(type='text', name='matkul', placeholder='Mata Kuliah' class='title' required)
          tr
            td 
              label 
                b Semester
            td :
            td 
              input(type='text', 
              name='semester', 
              placeholder='semester', 
              class='semester' required)
          tr
            td 
              label(class='link')
                b Kode Mata Kuliah
            td :
            td 
              input(type='text', name='subject', placeholder='Kode mata kuliah' class='subCode' required)
          tr.helper
            td.header(colspan='3')
              i Kode mata kuliah minimal 3 karakter dan maksimal 7
          tr
            td(colspan='3' class='header')
              input(type='submit', value='Kirim' id='submit')
        
    a(href='/') Beranda
    a(href='/modul/form') Unggah Modul