extends layout

block content
  h1(class='header')= title
  div(class='image')
    img(src='/images/i-emApp2.png' class='img-head')
    p(class='header') Form #{title}
    p.success.header #{message} #{modul}
    form(action='/modul/form', method='post' class='form')
      table
        tbody
          tr
            td 
              label 
                b Judul Modul
            td :
            td 
              input(type='text', name='title', placeholder='judul modul' class='title' required)
          tr
            td 
              label 
                b Semester
            td :
            td 
              input(type='text', 
              name='semester', 
              placeholder='semester', 
              class='semester' pattern='[1-8]+'
              onvalid="this.setCustomValidity('Input angka antara 1-8')" required)
          tr.loading
            td.header(colspan='3') 
              div.loader
              label.loadTxt Memuat Data...
          tr.matkulR
            td 
              label 
                b Mata Kuliah
            td :
            td
              select(class='matkul' name='subject')
                option(class='option') --pilih--
          tr.matkulR
            td 
              label(class='link')
                b Tautan
            td :
            td 
              input(type='text', name='url', placeholder='Tempelkan tautan di sini!' class='link' required)
          tr.matkulR
            td(colspan='3' class='header')
              input(type='submit', value='Kirim' id='submit')
        
    a(href='/') Beranda
    a(href='/matkul/form') Mata Kuliah