body {
  padding: 10px ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-left: 20px;
  text-decoration: none;
}

.header {
  text-align: center;
}
.image{
  align-items: center;
  text-align: center;
}
.img-head {
  width: 100px;
  height: auto;
  margin: 10px;
}
.container {
  position: relative;
  left: 50%;
}
.form {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  height: auto;
  align-items: center;
  text-align: center;
  left: 35%;
}
table td {
  text-align: left;
  align-items: center;
  padding: 5px;
}
.loading {
  position: relative;
}
.loadTxt {
  position: absolute;
  left: 40%;
  top:30px;
}
.loader {
  position: absolute;
  left: 50%;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.success {
  color: forestgreen;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
footer {
  text-align: center;
  padding: 10px;
  color: gray;
}
